<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <button id="add_row" class="btn btn-primary" type="button" class="btn btn-primary ">添加行</button>
                <button id="remove_row" class="btn btn-primary" type="button" class="btn btn-primary ">删除行</button>
                <button id="update_row" class="btn btn-primary" type="button" class="btn btn-primary ">更新行</button>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本 <small>分类，查找</small></h5>
                </div>
                <div id="main" class="ibox-content">
                    <table id="pw_table"
                        data-toggle="table"
                        data-ajax="dataLoad"
                        data-click-to-select="true"
                        data-select-item-name="selectItemName"
                        data-height="500"
                        data-pagination="true"
                        data-side-pagination="server"
                        data-query-params="queryParams"
                        data-page-list="[10, 20, 50]"
                        >
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="a1">a1</th>
                                <th data-field="b1">b1</th>
                                <th data-field="c1">c1</th>
                                <th data-field="d1">d1</th>
                                <th data-field="e1">e1</th>
                                <th data-field="operate">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
